<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">

    <link href="css/index.css" rel="stylesheet">
    <script language="JavaScript" src="js/index.js"></script>

</head>
<body>
<div id="div_container">
    <div id="div_fruit_list">
        <p class="center f30">欢迎使用水果库存后台管理系统</p>
        <div style="border: 0px solid red;width:60%;margin-left: 20%; text-align: right;">
            <a th:href="@{/add.html}" style="border: 0px solid blue;margin-bottom: 4px;">添加新纪录</a>

        </div>
        <table id="tbl_fruit">
            <tr>
                <th class="w20">名称2</th>
                <th class="w20">单价</th>
                <th class="w20">库存</th>

                <th>操作</th>
            </tr>
            <tr th:if="${#lists.isEmpty(session.fruitList)}">
                <td colspan="4">对不起，库存为空</td>
            </tr>
            <tr th:unless="${#lists.isEmpty(session.fruitList)}" th:each="fruit:${session.fruitList}">
<!--                <td ><a th:text="${fruit.fname}" th:href="@{/'edit.do?fid='+${fruit.fid}}">苹果</a></td>-->
                <td ><a th:text="${fruit.fname}" th:href="@{/edit.do(fid=${fruit.fid})}">苹果</a></td>
<!--                在这里超链接的地址最好用tmyleaf形式的绝对路径-->
                <td th:text="${fruit.price}">5</td>
                <td th:text="${fruit.fcount}">20</td>

<!--                <td><img src="imgs/del.jpg" class="delImg" th:onclick="'delFruit('+${fruit.fid}+')'"/></td>-->
                <td><img src="imgs/del.jpg" class="delImg" th:onclick="|delFruit(${fruit.fid})|"/></td>
<!--                用双竖杠会自动识别thymeleaf表达式，比字符串拼接更加智能-->
            </tr>

        </table>

    </div>
</div>
</body>
</html>
